@import url(http://fonts.googleapis.com/css?family=Parisienne);
@import url(http://fonts.googleapis.com/css?family=Revalia);


body {background: grey;}

h1 {color: green;
font-family: parisienne;
font-size: 4em}

h2{color:white;
font-family: revalia;}


p {font-size: 2em; 
	font-weight: normal;
	line-height: 1.5em;
font-family: parisienne;
}