* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	color: white;
	font-family: Verdana, Georgia;
	text-shadow: 5px 5px 5px #888888;
	font-size: 18pt
	
}
body {
	text-align: center;
	background: rgb(63,76,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1
	{
	text-shadow: 5px 5px 5px #888888;
	font-size: 30pt
	}

h2 {
	text-shadow: 5px 5px 5px #888888;
	font-size: 20pt

}
h3 {
	text-shadow: 5px 5px 5px #888888;
	font-size: 20pt

}
img {
	box-shadow: 10px 10px 5px #888888;
	border: 2px solid;
	border-radius:25px;
}

.fixed {
	position: fixed;
	top: 10px;
	right: 30px;
	float: left;
	color: #eee;
	font-size: 50px;
	font-family: Georgia, "New Times Roman", serif
}

.wrapper {
	width: 90%;
	margin: 0 auto;

}

.col-1 {
	width: 31%;
	float: left;
	border:4px solid #eee;
}
.col-2 {
	width: 31%;
	float: left;
	border:4px solid #eee;
}
.col-3 {
	width: 30%;
	float: left;
	border:4px solid #eee;
}
[Class*="col-"] {
	margin-left: 2%;
	text-align: center;
	margin-bottom: 200px;
	height: 200px;

}/*selects any element with class="col-"*/

.first {
	margin-left: 0%;
}/*the first column will not have margin*/

/*/////////////RESPONSIVE LAYOUT //////////////// */

@media screen only (max-width: 1210px) {
	.wrapper {
		width: 90%;
	}
}

@media screen only (max-width: 934px) {
	p {
		font-size: 10pt;
		font-family: "New Times Roman";
		text-shadow: none;
	}
}





