@import url(http://fonts.googleapis.com/css?family=Freckle+Face);
@import url(http://fonts.googleapis.com/css?family=Nova+Mono);
 
h1 { 
	font: normal 4em 'Freckle Face', cursive; 
	color: green;
	text-align: center;
	text-shadow: 0 5px 10px #000;
	text-decoration: underline;
}

img {
	border:10px solid #B3B3B3;

}
p{
	font: normal 1.75em 'Nova Mono', cursive;
	text-indent: 5%;
	
}
.c{
	color:yellow;

}
.o{
	color:red;
}
.l{
	color:purple;
}
.o2{
	color:green;
}
.r{
	color:grey;
}


body {
	background-color: blue;
}

