@import url(http://fonts.googleapis.com/css?family=Sacramento);
@import url(http://fonts.googleapis.com/css?family=Sail);
body, html {
background-color: rgb(255,255,243); 
height: 100%;
min-height: 100%;
font-family: 'Sail', cursive;
font-size: 20px;
width: 960px;
margin: 20px auto 20px;
}

figcaption {
	font-size: 25px;
	color: black;
	text-align: center;
	font-family: 'Sacramento', cursive, Georgia, "New Times Roman", serif;
}
#header {
	color: black;
	font-family: 'Sail', cursive;
	font-weight: bolder;
	text-align: left;
	font-size: 50px;
	line-height: 0%;
	padding: 1%;
}
.fixed {
	position: fixed;
	top: 10px;
	right: 30px;
	float: right;
	color: #FFCBE8;
	font-size: 50px;
}
/** {
	box-sizing: border-box;		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}*/
.self {
	text-align: justify;
	line-height: 200%;
}
#footer {
	/*background-color: #FFCBE8;*/
	font-family: 'Sacramento', cursive, Georgia, "New Times Roman", serif;
	text-align: center;
	font-size: 25px;
	padding: 5px;
	margin-top: 30px;
	display: block;
	width: 100%;
	clear: both;
}
figure {
	float: left;
	display: block;
	margin: 10px 10px 10px 0;
	text-align: center;
	font-size: 20px
	
	/*top: 44px;
	margin: 42px 0px 20px 30px;
	*/
}
.details {
	line-height: 200%;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}


.col-3-1 {
	width: 32%;
	float: left;
}
.col-3-2 {
	width: 38%;
	float: left;
}
.col-3-3 {
	width: 24%;
	float: left;
}
[Class*="col-"] {
	margin-left: 2%;
}/*selects any element with class="col-"*/

.first {
	margin-left: 0%;
}/*the first column will not have margin*/



















