body {background-color: orange;
}

.profile-text{
	color: black;
	text-align: center;
	font-size: 20px;
	font-family: helvetica;
}

#copyright-info {
text-align: center;
}

#headshot {
	text-align: center;
}

#roommates {
	font-weight: bolder;
	text-align: center;
}

#student-name {
text-align: center;
}

#video {
	text-align: center;
}

.featured-text {
	color: red;
	font-weight: bolder;
}