body {background: #FFF;}
img {display:block; margin:20px auto 15px;}
h1 {font-weight: 560; font-family: 'Rochester', cursive; font-size: 5em; background-color: #63574b; color:white; padding:25px 0; margin: 0 auto; text-align: center;}
 #intro p {width:600px; text-align: justify; margin:10px auto; font-family: arial, sans-serif; font-size: 1.2em; line-height: 1.7em; font-weight: 200;}
  