body {
	background-color: #FEF6E4;
}

.container {
	width: 960px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 22px;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
}

#main-name {
	padding: 20px 20px;
	text-align: center;
}

footer {
	text-align: center;
	font-size: .75em;
	color: #555;
	padding: 10px 0 20px;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 80px 0 30px;
}

p {
	font-family: 'Times New Roman', Georgia, serif;
	font-size: 1.2em;
	line-height: 1.5;
}

.strong {
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#family-portrait {
	-webkit-filter: grayscale(1); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	filter: gray; filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);

/*	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;*/

	border:5px solid;
}

figure {
	text-align: center;
}

figcaption {
	font-style: italic;
}

a {
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a:link {
	color:black;
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
	text-decoration: none;
}
a:visited {
	color: black;
}  
a:hover {
	background-color: black;
	color: white;
} 
a:active {
	background-color: black;
	color: gray;
}

/* COLUMN LAYOUT*/

.col-1 {
	float: left;
	width: 33.66%;
}

.col-2 {
	float: left;
	width: 46.33%;
/*	padding: 10px;
*/}

[class*="col-"] {
  margin: 5%;
}

.first-p {
	margin-top: 0;
}

/*#imagebox {
	padding-top: 40px;
}*/