h1{
  font-style: italic;
}

h2{
  color: pink;
}

#bio{
  color: purple; 
}

div#favorites > ul {
  border: 1px solid black;
}

#favorites{
  font-size: 25px;
  font-family: cursive;
  border-top: 1px solid black;
}

#favorites >li{
  text-shadow: 3px;;
}


