header, section, footer, nav, article, figure, figcaption, hgroup {
	display: block;
}

h1 {
	font-family: "Trebuchet MS", "Lucida Console", "MS Sans Serif";
	font-weight: bold;
	margin: 3px auto;
	color: #EE5C42;
}

h2 {
	font-family: "Trebuchet MS", "Lucida Console", "MS Sans Serif";
	font-weight: normal;
	margin: 1px auto;
	color: #FF7256;
}

p {
	/*font-size: 1em;
	line-height: 1.5em;*/
	font: normal 1em/1.5em  "Josefin Sans", "Lucida Console", "Trebuchet MS", "Lucida Sans Unicode", "Tahoma";
}
.firstname {
	font-style: italic;
	text-decoration: underline;
	color: lightblue;
}

img {
	display: inline-block;
	float: left;
	border: solid;
	border-color: orange;
	border-width: 10px;
	margin: 0 20px 10px 0;
	width: 20%;
	position: relative;
}


.clearfix: after {
	content: ".";
	display: block;
	clear:both;
	visibility: hidden;
	height: 0;
}


#wrapper {
	width: 960px
	margin: 5px 10px;
	text-align: left;
	background-color: black;
	color: orange;
	/*background-color: black;*/
}

.me {
	float: left;
	width: 50%;
}

. {
	-webkit-box sizing: border-box;
	-moz-box sizing: border-box;
	box sizing: border-box;
}

footer {
	clear: both;
	background-color: gray;
	color: #A78D84;
	width: 100;
	text-align: right;
	margin-right: 25%;
}

/*** responsive layout */

@media only screen and (max-width: 780px) {

	#wrapper {
		width: 90%;
	}
}

@media only screen and (max-width: 700px) {

	body, header, footer {
		font-size: 85%;
	}
}