header, section, footer, nav, article, figure, figcaption, hgroup {
	display: block;
}

h1 {
	font-family: "Trebuchet MS", "Lucida Console", "MS Sans Serif";
	font-weight: bold;
	margin: 3px auto;
}

h2 {
	font-family: "Trebuchet MS", "Lucida Console", "MS Sans Serif";
	font-weight: normal;
	margin: 1px auto;
}

p {
	/*font-size: 1em;
	line-height: 1.5em;*/
	font: normal 1em/1.5em  "Josefin Sans", "Lucida Console", "Trebuchet MS", "Lucida Sans Unicode", "Tahoma";
}
.firstname {
	color: lightblue;
	font-style: italic;
}

img {
	display: block;
	float: left;
	border: solid;
	border-color: red;
	border: 10px;
	margin: 0 20px 10px 0;
	width: 30%;
}


.clearfix:after {
	content: ".";
	display: block;
	clear:both;
	visibility: hidden;
	height: 0;
}

#wrapper {
	width: 960px;
	margin: 5px 10px;
	text-align: left;
	background-color: black;
	color: orange;
	/*background-color: black;*/
}

.me {
	float: left;
	width: 50%;
}

. {
	-webkit-box sizing: border-box;
	-moz-box sizing: border-box;
	box sizing: border-box;
}

footer {
	clear: both;
	color: orange;
	text-align: right;
}