/* this is a comment 
selector { 
property:value; 
property:value; */

body { 

font-family: helvetica;
background-color: grey;
/* background-color: #DB7093; */
color: #3FFFFF;
}

/* h1 {
	color:#FFFFFF;
	border-bottom: 5px solid yellow;
	margin: 20px; 
	text-align: center;
} 
h3 {
	color: #FFFFFF;
	margin: 20px; 
	text-align: center;
}
h4 {
	color: #FFFFFF;
	margin: 50px;
	margin-bottom: 5px; 
} */

img {
	position: absolute;
	left: 0px;
	top:300px;
	z-index: -1;
	}

#name {
	color: #FFF0F5;
	border-bottom: 5px solid #2F4F4F;
	margin: 20px; 
	text-align: center;
}

#info {
 color: #FFF0F5;
	margin: 20px; 
	text-align: center;
	font-weight: 500;
}

#extra {
	font-family: helvetica;
	color: #2F4F4F;
	/* color: #8FBC8F; */
	margin: 50px;
	margin-bottom: 5px; 
	text-align: center; 
	font-weight: 600;

}

a.wjs, a.edition, a.pp, a.vsco {color: #8FBC8F; font-family: helvetica;}
a.wjs:visited, a.edition:visited, a.pp:visited, a.vsco:visited {color: #2F4F4F;}
a.wjs:hover, a.edition:hover, a.pp:hover, a.vsco:hover {color: #FF7F50;}