@import url(http://fonts.googleapis.com/css?family=Condiment);
@import url(http://fonts.googleapis.com/css?family=Arizonia);
@import url(http://fonts.googleapis.com/css?family=Wallpoet);

.Title {
	font: bold 3em 'Condiment', cursive;
	color: rgb(173,12,12);
	background-color: white;
	
}

.Heading {
	color: #0b4f8f;
	font-size: 2em;
	font-family: 'Wallpoet', cursive;
	text-align: center;
}

footer {
	font-size: 1.1em;
	font-family: 'Arizonia', cursive;
	text-align: right;
}

p.Text {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 1.25em;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	text-align: center;
	background-color: #d9eeee
}

a {
	color: rgb(173,12,12);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	
}

.col-1 {
	float: left;
	width: 49.6%;
}

[class*="col-"] {
	margin-left: ;
}

.first {
	margin-left: 0%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.clear {
	clear: both;
}

.border_right {
	border-right: 6px solid #d9eeee;
	padding-right: 0px;
}

.border-top {
	border-top: 6px solid #d9eeee;
}