/* Spencer Fry's CSS */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.wrapper {
  background: #C0C0C0;
  width: 1024px;
  margin: 0 auto;
}

/* Header */

header {
  text-align: center;
  padding-bottom: 25px;
}

header h1 {
  font: bold 2em/2em Arial, sans-serif;
}

header h1.student a:link,
header h1.student a:visited {
  color: #000;
  text-decoration: none;
}

header h2 {
  font: italic 1.5em/.75em Arial, sans-serif;
}

/* Sidebar */

#sidebar {
  float: left;
  width: 180px;
  padding: 0 10px;
}

#sidebar h3 {
  font: bold 1em/1em Arial, sans-serif;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  font: normal 1em/1.3em Arial, sans-serif;
}

/* Main */

#main {
  float: left;
  width: 824px;
  margin-bottom: 25px;
}

#main h3 {
  font: bold 1em/1em Arial, sans-serif;
}

#main p { 
  font: normal 1em/1em Arial, sans-serif;
}

#main p a:link,
#main p a:visited {
  color: black;
}