a {
  display: block;
  float: left;
  /*border-top: 2px solid #efefef;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;*/
  padding: 20px;
  color: black;
  text-decoration: none;
  margin-right: 3px;
  margin-bottom: 7px;
  /*-webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 5px 10px #ccc;
  -moz-box-shadow: 0 5px 10px #ccc;
  box-shadow: 0 5px 10px #ccc;*/
  text-align: center;
}

a:hover {
  font-weight: bold;
}